= render 'header'
%section.app-content.row
  %section.breadcrumb.row
  .large-12.columns
    %ul.breadcrumbs
      %li
        %a{:href => "#"} > Ver ofertas
      %li.current
        %a{:href => "#"} Almofada que comprei...
  %section.large-7.columns.left-side#sticky-nav
    %img{src: asset_path('sample_001.jpg')}
  %section.large-5.columns.right-side
    .product    
      .product-title
        %h4
          Almofada que comprei na empolgação. Cheguei em casa e vi que não combinava em nada com o meu sofá
        .label.da-caixa.inverse # Nem saiu da caixa
        .label.economia.inverse 33% OFF
      .product-divisor
      .product-description
        Gente, conforme falei ali em cima, comprei essa almofada e...nada a ver aqui em casa. Dei um descontão pra quem quiser levar. Só entrar em contato comigo. Beijos da Ju!
      .product-preco
        .preco.left.negative
          Você paga:
          %span.moeda R$
          %span.valor 85,00
          .preco-original
            Eu paguei: 
            %span R$ 129,90
        .clearfix
      .product-owner
        %ul.owner-details
          %li 
            %i.fi-torso
            Juliana Almeida é a dona do novinho
          %li 
            %i.fi-mail
            juzinhaaaa_23@hotmail.com
          %li 
            %i.fi-telephone
            (51) 89762532


      .product-footer
        %button.button.success.left 
          %i.fi-check 
          Comprar o novinho