// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

* {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

/* Header */
header.slideshow{
	height: 650px;
	background: url(asset-path('slideshow.jpg'));
	background-size: cover;
	background-position: center;
	background-position: fixed;
}
header.slideshow .login{
  	padding: 50px 0;
 }
header.slideshow .login a{
	font-family: "Allerta";
	color: white;
	text-transform: uppercase;
	letter-spacing: 2px;
  	font-size: .8em;
  	&:hover{
  		text-decoration: underline;
  	}
}
header.slideshow .logo{ padding: 40px 0; }
header.slideshow p{ color: $white;}

/* Breadcrumbs */
section.breadcrumb{

}
ul.breadcrumbs{
	border-left: 0px;
	border-right: 0px;
}

/* Produto */
.product-divisor{
	height: 2px;
	width: 100%;
	margin: 20px 0;
	background-color: lighten($pinktanovinho, 10%);
}


/* Top Bar */
header.navigation{
	border-bottom: 1px solid $iron;
}

/* Filters nav */
.filters-nav li a{
	&:hover{
		.tag, .categoria{
			text-decoration:underline;
		}
	}
}
.filters-nav a{cursor: default;}
.filters-nav li .hashtag.nem-tao-novo{ color: $pinktanovinho; }
.filters-nav li .hashtag.um-pouquinho{ color: $bluetanovinho; }
.filters-nav li .hashtag.usadinho{ color: $orangetanovinho; }
.filters-nav li .hashtag.da-caixa{ color: $greentanovinho; }
.filters-nav li .hashtag, .filters-nav li .tag, .filters-nav li .categoria{ color: $steel;}
.filters-nav li { margin: 0px; }

/* Boxes */
.product-box{
	margin-bottom: 10px;
}
.product-box .product-info{ padding: 10px 10px; background-color: $white; border: 1px dashed $iron; border-top: 0px}
.product-box .product-info h6{
	margin-bottom: 0;
	letter-spacing: -1px;
	text-transform: uppercase;
}
.product-box .product-novinho{ font-size: rem-calc(11); }
.product-box .product-description{
	font-size: rem-calc(12);
	color: $steel;
	padding: 20px 0 0 0;
	border-bottom: 1px dashed $iron;
}
.product-box .label{border-right: 1px dashed $iron}
.product-box .label.nem-tao-novo{ padding: 6px; color: $redtanovinho; background-color:$white}
.product-box .label.um-pouquinho{ padding: 6px; color: $bluetanovinho; background-color:$white}
.product-box .label.usadinho{ padding: 6px; color: $orangetanovinho; background-color:$white}
.product-box .label.da-caixa{ padding: 6px; color: $greentanovinho; background-color:$white}

.product-box .product-novinho.nem-tao-novo{ color: $redtanovinho; }
.product-box .product-novinho.um-pouquinho{ color: $bluetanovinho; }
.product-box .product-novinho.usadinho{ color: $orangetanovinho; }
.product-box .product-novinho.da-caixa{ color: $greentanovinho; }
.product-box .product-image{
    height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    position: relative;
}
.product-box .preco{
	font-weight: bold;
	background-color: $pinktanovinho;
	display: inline-block;
	color: white;
	padding: 12px;
}
.product-box .economia{
	background-color: $oil;
	color: white;
	font-weight: bold;
	padding: 12px;
}
.product-box .preco .preco-original{
	font-size: rem-calc(11);
	font-weight: normal;
}
.product-box .product-image .product-image-tag{
	position: absolute;
	bottom: 0;
	right: 0;
	color: white;
}
.product-box .product-image .product-image-price{
	position: absolute;
	bottom: 0;
	left: 0;
	color: white;
}
.product-box .product-image .product-image-economia{
	position: absolute;
	top: 0;
	right: 0;
}

/* Fix para a top-nav com imagem */
@media only screen and (max-width: 40em) {
    .title-area {

    }
    .name {

    }
    .name img {
	    height:40px;
	    margin-top:40px;
	    margin-left:5px;
    }
}
.name img { margin-left:20px; margin-top: 10px;}

.app-content{
	padding: 50px 0;
}

.box .box-header{
	border-bottom: 1px dashed $iron;
	padding: 10px 0;
}
