%header.fixed.navigation
  %nav.top-bar{"data-topbar" => "", :role => "navigation"}
    %ul.title-area
      %li.name
        %a{:href => root_path}
          %img{src: asset_path('ta_novinho_150.png')}
      / Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone
      %li.toggle-topbar.menu-icon
        %a{:href => "#"}
          %span Menu
    %section.top-bar-section
      %ul.right
        %li
          %a{:href => root_path} Ofertas do #TáNovinho
        %li
          %a{:href => new_product_path} Vender no #TáNovinho
        - if user_signed_in?
          %li
            %a{:href => '/purchases?mode=purchases'}
              %i.fi-shopping-bag
              Minhas Comprinhas
          %li
            %a{:href => '/purchases?mode=sales'}
              %i.fi-pricetag-multiple
              Minha Vendinha
          %li
            = link_to(destroy_user_session_path, :method => :delete) do
              %i.fi-torso
              Logout
        - else
          %li
            %a{:href => "#{new_user_session_path}"}
              %i.fi-torso
              Entrar
